.anchor-button {
    justify-content: center;
    text-decoration: none;
    border-radius: 0.5rem;
    align-items: center;
    font-weight: 600;
    flex-shrink: 0;
    transition: 0.25s ease all;
    font-size: 0.875rem;
    padding: 0 0.75rem;
    display: flex;
    height: 2.5rem;
    color: var(--tg-primary);
    gap: 0.5rem;
    &.active {
        background-color: var(--bg-outline);
    }
    &:hover {
        background-color: var(--bg-outline);
        cursor: pointer;
    }
}

.anchor-link {
    text-decoration: underline;
    transition: 0.25s ease all;
    font-size: 0.875rem;
    color: var(--tg-secondary);
    &:hover {
        background-color: var(--accent);
        cursor: pointer;
        color: var(--tg-primary);
    }
}
