* {
    font-family: 'DM Sans', system-ui, sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    z-index: 9999;
}
